<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="scripts">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script th:src="@{/public/js/flatpickr.js}"></script>
		<script th:src="@{/public/js/datatables-simple-demo.js}"></script>
		<script th:src="@{/public/js/admin-scripts.js}"></script>
		<script th:src="@{/public/js/admin-web-socket.js}"></script>
		<script th:src="@{/public/js/chart-area-demo.js}"></script>
		<script th:src="@{/public/js/chart-bar-demo.js}"></script>
	</th:block>
</body>
</html>
