<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="scripts">
	<!-- Bootstrap -->
	<script th:src="@{/public/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/public/js/script.js}"></script>
	
	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script th:src="@{/public/lib/wow/wow.min.js}"></script>
	<script th:src="@{/public/lib/easing/easing.min.js}"></script>
	<script th:src="@{/public/lib/waypoints/waypoints.min.js}"></script>
	<script th:src="@{/public/lib/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/public/lib/lightbox/js/lightbox.min.js}"></script>
</th:block>
