<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-footer">
<footer>
	<div class="inner">
		<div class="logobox text-logo">
    		<span class="text-logo-main" data-shop-roman="">Nureru Hitozuma</span>
    		<span class="text-logo-sub" data-shop-name="">濡れる人妻</span>
		</div>
		<p class="telno" data-footer-phone="">電話番号：準備中</p>
		<p class="opentime" data-open-time="">受付：13:00 - 翌05:00</p>
	</div>
	<p class="copyright">Copyright © <span data-shop-name="">濡れる人妻</span> All Rights Reserved.</p>
</footer>
<div class="fixed-bottom-nav">
     <a href="worklist.html" class="today-btn"><span class="cal-icon"></span><strong>本日の<br>出勤</strong></a>
     <a href="system.html" class="tel-btn"><span>☎</span><strong data-bottom-phone="">TEL 準備中</strong></a>
     <a href="system.html#card" class="line-btn"><span>Card</span><strong>案内</strong></a>
</div>
</th:block>